@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'VT323', monospace;
}




@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.grid-bg {

  margin: 0;
  padding: 0;
  z-index: -300;
  background: #000000;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.7) .1em, transparent .1em);
  background-size: 7em 7em;

}

.window-bg {
  height: 100%;
  width: 100%;
  position: absolute;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, 0.7) .1em, transparent .1em);
  background-size: 3.5em 3.5em;
}

.button-sh {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

.button-sh:hover {
  -webkit-box-shadow: 0px 00px 0px 0px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.flicker {
  animation: blink-animation linear 1.5s infinite;
  -webkit-animation: blink-animation linear 1.5s infinite;
}

@keyframes blink-animation {
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes blink-animation {
  from {
    opacity: 0%;
  }
}

.window {
  animation-duration: 0.25s;
  animation-name: createBox;
  animation: createBox 2s;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


.show-connect-modal {
  animation: showModalAnimation 0.6s;
}

.hidde-connect-modal {
  animation: hiddeModalAnimation 1s;
}



@keyframes showModalAnimation {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes hiddeModalAnimation {
  from {
    transform: translateY(0);
    opacity: 100%;
  }

  to {
    transform: translateY(150px);
    opacity: 0;
  }
}

nav h2 {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
}

.marker {
  left: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  background: #000;
  transition: 0.3s;
}